<header> <button (click)="expanded = !expanded">
    <span class="material-icons" *ngIf="!expanded">
    menu
    </span>
    <span class="material-icons" *ngIf="expanded">
        close
    </span>
</button> Idiomas WEB(puedes cambiarle el nombre)</header>

<div class="main-layout">
  <aside class="sidebar" *ngIf="expanded" @slidein>
    <ul>
      <li><a [routerLink]="['/pages/lista-lenguajes']">Listas Lenguajes</a></li>
      <li><a [routerLink]="['/pages/busqueda-lenguajes']">Busqueda Lenguajes</a></li>
      <li><a [routerLink]="['/pages/perfil']">Perfil</a></li>
      <li *ngIf="userRol=='1'"><a [routerLink]="['/pages/admin']" >Admin</a></li>
      <li><a (click)="logOut()">Cerrar Sesión</a></li>
    </ul>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>