<div class ="cols">
<div class="title">
<div class="alt-two">
  <h1>Editar Idioma: <span>{{idioma.nombre}}</span></h1>
</div>
<ul class="menu">
  <li><span><a (click)="guardar()">Guardar</a></span></li>
  <li><span><a (click)="deleteidioma()">Borrar</a></span></li>
  <li><span><a [routerLink]="['/pages/lenguaje',idioma.id]">Salir de edición</a></span></li>
</ul>
</div>

<div class="formulario">
  <mat-form-field>
  <mat-label>Selecciona un idioma</mat-label>
  <mat-select [(value)]="idioma.lenguaje">
    <input (keyup)="onKey($event)">
    <mat-option *ngFor="let language of selectedlangs" [value]="language.code">
      {{ language.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="form__group field">
  <input type="input" class="form__field" placeholder="Nombre idioma" name="name" id='name' [(ngModel)]="idioma.nombre" />
  <label for="name" class="form__label">Name</label>
</div>

</div>



<div id="floats">
<div id="listgv">
<ul>
    <li *ngFor="let gv of listgv">
      {{gv.nombre}}
    <button (click)="getListPalabras(gv)">editar grupo palabra </button>
    <button (click)="deleteGV(gv.id)">eliminar grupo palabra </button>
    </li>
</ul>
</div>
<div id="editarGV" *ngIf="showEditGV">
    <input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre" />
    <ul id="tabla" class="dark">
        <div class="row header">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col1" /></div>
          <div class="col"><div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col2" /></div></div>
        </div>
        <div class="row" *ngFor="let item of listPalabra">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col1" /></div>
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col2" /></div>
          <div class="col"><button (click)="deletepalabra(item.id)">eliminar palabra </button></div>
        </div>
      </ul>
    
</div>
</div>
</div>